html{
    height:100%;
    width:100%;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
}
h1, h2 ,p{
    color: #303633;
    margin: 0;
}

h3{
    font-size: 14px;
    margin: 0;
}

button{
    cursor: pointer;

}

img{
    display: block;
}

li{
    list-style: none;
}
.content-box{
    display: flex;
    justify-content: start;
    align-items: start;
    position: relative;
    z-index: 3;
    height: 100%;
    width: 100%;

}

.project-form-bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;

}

.project-form-box{
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 400px;
    border-radius: 10px;
    height: 175px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-form{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.project-btn-box, .to-do-btn-box{
    display: flex;
    margin-top: 20px;
    gap: 10px;
}
.form-input, .form-textarea{
    padding: 0.6rem;
}

.submit-btn{
    background-color: #8BE1AB;
    color: #303633;
}
.cancel-btn{
    background-color: #c1121f;
    color: #fefae0;
}

.cancel-btn:hover,
.cancel-btn:focus{
    background-color: #c1123a;
}

.add-project-btn,
.add-to-do-btn{
    background-color: #669bbc;
}

.add-project-btn:hover,
.add-project-btn:focus,
.add-to-do-btn:focus,
.add-to-do-btn:hover{
    background-color: #669bff;
}


.submit-btn,
.cancel-btn{
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    width: 100px;
    height: 35px;
}
.submit-btn:hover,
.submit-btn:focus{
    background-color: #8BE8CB;
}

.form-label{
    margin-bottom: 10px;
    color: #303633;
    font-weight: bold;
}

.to-do-form-bg{
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.to-do-form-box{
    position: fixed;
    z-index: 1;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-do-form{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.left-box{
    width: 25%;
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 0 15px 0 15px;
    background-color: #e5e5e5;
    border-right: 1px solid #4a4e69;
}

.project-head-box{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #4a4e69;
}

.add-project-btn{
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    width: 45px;
    height: 35px;
}

.add-to-do-btn{
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    width: 100px;
    height: 35px;
}

.project-list{
    display: flex;
    justify-content: start;
    padding: 0;
    margin-top: 20px;
    flex-direction: column;
    gap: 5px;
}

.project-list-item{
    width: 100%;
    background-color: #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    transition: background-color 1ms ease-in-out;
}


.project-btn:first-of-type{
    width: 100%;
}

.project-btn{
    background: transparent;
    padding: 10px;
    height: 40px;
    width: 80%;
    border: none;
    outline: none;
    text-align: start;
}

.project-btn:hover,
.project-btn:focus {
    background-color: #c4c9f9;
    border-radius: 5px;
}


.active{
    background-color: #c4c9f9;
    border-radius: 5px ;
}


.project-list-item-btn-box {
    display: none;
}

.project-list-item:hover .project-list-item-btn-box {
    display: flex;
    gap: 10px;
    background-color: #c4c9f9;
}
.project-list-item:hover {
    background-color: #c4c9f9;
    border-radius: 5px ;
}

.delete-project-btn,
.edit-project-btn,
.delete-note-btn,
.edit-note-btn{
    border-radius: 5px;
    background-color: #c4c9f9;
    padding: 5px;
    width: 50px;
    height: 30px;
    border: none;
    text-align: center;
    outline: none;
    transition: background-color 1ms ease-in-out;
}

.delete-note-btn,
.edit-note-btn{
    background: transparent;
}

.delete-project-btn:hover,
.delete-project-btn:focus,
.delete-note-btn:hover,
.delete-note-btn:focus{
    color: white;
    background-color: #c1123a;
    border-radius: 5px;
}
.edit-project-btn:hover,
.edit-project-btn:focus,
.edit-note-btn:hover,
.edit-note-btn:focus{
    background-color: #669bbc;
    border-radius: 5px;
}

.right-box{
    height: 100%;
    padding-left: 20px;
    width: 75%;
}

.note-box{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.note-title{
    padding-bottom: 9px;
}
.note-head-box{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
    padding: 20px 10px 20px 0;
}
.note-list-item{
    display: flex;
    align-items: center;
    min-height: 80px;
    outline: 1px solid #4a4e69;
    border-radius: 5px;
    padding: 10px;
    width: 95%;
    cursor: pointer;
}

.note-list-item:hover,
.note-list-item:focus{
    background-color: #e5e5e5;
}

.note-text-box{
    margin-left: 2%;
    display: flex;
    flex-direction: column;
}

.note-date-box{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 20px;
    width: 90px;
}

.done-title{
    text-decoration: line-through;
    color: dimgrey;
}

.done{
    color: dimgrey;
    background-color: #e5e5e5;
}


.note-description{
    width: 550px;
}


.note-btn-box{
    display: flex;
    margin-left: 40px;
    gap: 10px;
}

@media screen and (max-width: 1199.9px){
    .note-description{
        width: 350px;
    }
    .project-list-item-btn-box{
        display: flex;
    }
    .delete-project-btn,
    .edit-project-btn{
        padding: 0;
        background-color: transparent;
    }

    .edit-project-btn:hover,
    .edit-project-btn:focus,
    .edit-note-btn:hover,
    .edit-note-btn:focus{
        padding: 0;
        background-color: transparent;
        border-radius: 5px;
    }
    .project-list-item:hover .project-list-item-btn-box{
        gap: 0;
    }

}

@media screen and (max-width: 767.9px){

    .note-description{
        width: 200px;
    }


    .project-list-item-btn-box{
        display: flex;
    }
    .project-list-item:hover .project-list-item-btn-box{
        gap: 0;
    }

    .delete-project-btn,
    .edit-project-btn{
        background-color:transparent;
    }

    .edit-project-btn:hover,
    .edit-project-btn:focus,
    .edit-note-btn:hover,
    .edit-note-btn:focus{
        background-color: transparent;
        border-radius: 5px;
    }
}